<h1 class="title is-1">Platforms</h1>

<div class="columns is-multiline" id="genres">
  <% @platforms.each do |platform| %>
    <div class="column is-one-third">
      <div class="box">
        <p class="subtitle is-4">
          <%= link_to platform.name, platform, class: "has-text-info" %>
        </p>
      </div>
    </div>
  <% end %>
</div>