<%= link_to "Back to Publishers", publishers_path%>

<h2 class="title is-2">Top Sold Video Games in <%= @publisher.name %></h2>


 <div class="columns is-multiline">
      <% @publisher.videogames.each do |videogame| %>
        <div class="column is-one-third">
          <div class="box">
            <p class="subtitle">Rank: <%= videogame.rank %></p>
            <p class="title">
              <%= link_to videogame.name, videogame, class: 'has-text-info' %>
            </p>
          </div>
        </div>
      <% end %>
  </div>
