<!-- app/views/pages/about.html.erb -->

<section class="section">
  <div class="container">
    <h1 class="title">
      About Us
    </h1>
    <h2 class="subtitle">
      The data set chosen for this project was pulled from kaggle.com/datasets. I chose
      to use the top video games sold of all time. The data is a ranking of the most sold
      video games along with region sale numbers. The columns for this data set
      include: rank, video game name, multiple specific region sales, publisher, platform,
      and genre.
    </h2>
    <figure class="image is-1300x400">
      <%= image_tag('erd.jpg', alt: 'Description of the image') %>
    </figure>
  </div>
</section>