<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1">
        Top Video Games Sold of All Time
      </h1>
      <h2 class="subtitle">
        A website that contains data for the most sold video games of all time.
      </h2>
    </div>
  </div>
</section>