<div id="<%= dom_id videogame %>">
  <p>
    <strong>Rank:</strong>
    <%= videogame.rank %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= videogame.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= videogame.year %>
  </p>

</div>
