<%= render @videogame %>


<p><strong>Genre:</strong> <%= @videogame.genre.name if @videogame.genre %></p>
<p><strong>Publisher:</strong> <%= @videogame.publisher.name if @videogame.publisher %></p>
<p><strong>Platform:</strong> <%= @videogame.platform.name if @videogame.platform %></p>