<div id="<%= dom_id region_videogame %>">
  <p>
    <strong>Videogame:</strong>
    <%= region_videogame.videogame_id %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= region_videogame.region_id %>
  </p>

  <p>
    <strong>Sales:</strong>
    <%= region_videogame.sales %>
  </p>

</div>
