<h1 class="title is-1">Regions</h1>

<div class="columns is-multiline" id="genres">
  <% @regions.each do |region| %>
    <div class="column is-one-third">
      <div class="box">
        <p class="subtitle is-4">
          <%= link_to region.name, region, class: "has-text-info" %>
        </p>
      </div>
    </div>
  <% end %>
</div>